/* Basic PDF styling */
.react-pdf__Document {
  display: flex;
  justify-content: center;
  width: 100%;
}

.react-pdf__Page {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
